* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", "Segoe UI", sans-serif;
  color: var(--color-text);
  background: var(--color-background);
}

button {
  font-family: "Lato", "Segoe UI", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
